#home {
  width: 100%;
  height: 100vh;
  background-image: url(images/background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#about-me {
  background-image:
    url(images/illustration-1-desktop.svg),
    url(./images/illustration-2-desktop.svg);
  background-position: 100% 150%, 0% 85%;
  background-repeat: no-repeat;
}

#contact {
  background-image:
    url(images/illustration-1-contact-form-desktop.svg),
    url(images/illustration-2-contact-form-desktop.svg),
    url(images/contact-form-illustratoin-3-desktop.svg);
  background-position: 0% 100%, 20% 97%, 100% 50%;
  background-repeat: no-repeat;
}

.downarrow {
  margin-left: 0%;
}

.intro {
  margin-top: 150px;
}

.welcome {
  color:black;
  font-weight: bold;
}

.welcome2 {
  color:#36b37e;
  font-weight: bold;
}

.welcome-intro {
  width:920px;
  margin-left:25%;
}

.my-card {
  width: 26%;
}

.card-skills {
  background-color: #ebf0ee;
}

.my-card2 {
  width: 100%;
  height: 250px;
  background-color: #d0d9d4;
}

.about-me-p {
  max-width: 767px;
}

.my-li {
  background-color: #fff;
  color: #36b37e;
}

.contact-div {
  padding-top: 100px;
  padding-bottom: 100px;
}

.textarea-form {
  height: 114px;
  resize: none;
}
